<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>

 <div class="field">
  <p>Title</p>
  <%= f.text_field :title %>
 </div>

 <div class="field">
  <p>Body</p>
  <%= f.text_area :body %>
 </div>

 <div class="actions">
  <%= f.submit 'Update Book' %>
 </div>
<% end %>

<a href="/books/(@book.id)">Show</a>
 |
<a href="/books">Back</a>
