<body>
 <p id="notice"></p>

 <p>
   <strong>Title:</strong>
   <%= @book.title %>
 </p>

 <p>
   <strong>Body:</strong>
   <%= @book.body %>
 </p>
 
 <a href="/books/#{book.id}/edit">Eidt</a>
  |
 <a href="/books">Back</a>
</body>